<!DOCTYPE html>
<html>
<%- include('includes/head.ejs') %>
<body>

<%- include('includes/nav.ejs') %>

<h1>Agregar producto</h1>

<form action="/form" method="POST">
    <input type="text" name="nombre" required>
    <button type="submit">Guardar</button>
</form>

<%- include('includes/footer.ejs') %>

</body>
</html>